.App {
  text-align: center;
}

a:link, a:visited {
  color: steelblue;
}

.tooltip {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover {
  visibility: visible;
}

.select:focus {
  outline: 0px; /* prevent focus border on select components */
}
